:root{
    --background: #eeeeee;
    --backgroundFont: #000000;
    --primary: #29CC53; 
    --primaryFont: white;
    --inputs: #ffffff;
    --inputsFont: #000000;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

li{
    margin-bottom: 0.3rem;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
    border: 0;
    background-color: var(--background);
    color: var(--backgroundFont);
    font-family: arial;
    text-transform: lowercase;
}

body, h1, h2, h3, p{
    margin: 0;
}

.form-group, input[type='text'], textarea, select, select option{
    background-color: var(--inputs) !important;
    color: var(--inputsFont);
}

.dropdown-menu > span:only-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10%;
}

input:focus, textarea:focus{
    outline: none;
}

nav, footer{
    display: flex;
    align-content: center;
    justify-content: center;
    background: var(--primary);
    padding: 0.8rem;
    color: var(--primaryFont);
    width: 100%;
}

footer{
    display: none;
}

.noPad{
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
}

button > a {
    color: var(--primaryFont);
    text-decoration: none;
}

button:hover > a {
    color: var(--primary);
    text-decoration: none;
}

.bubble-text{
    font-weight: 600;
    text-decoration: none;
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
    background: red;
    color: red;
}

button, select, input[type='button']{
    cursor: pointer;
    text-transform: lowercase;
}

button, input[type='button']{
    font-weight: 600;
    border: 0;
    padding: 0.2rem 0.4rem;
    outline: 0.15rem solid var(--primaryFont);
    border-radius: 0.5rem;
    background-color: var(--primary);
    color: var(--primaryFont);
}

button:hover, input[type='button']:hover{
    background: var(--primaryFont);
    color: var(--primary);
    outline: 0.15rem solid var(--primary);
}

.selectBg:hover, .selectBg > a:hover{
    color: var(--primaryFont);
    background: var(--primary);
}

.selectBg > a{
    text-decoration: none;
    color: black;
}

.main-content{
    flex: 1;
}

.container{
    margin-inline: auto;
    width: min(90%, 70.5rem);
    margin-bottom: 4rem;
}

.max-width{
    width: 100%;
}

.split{
    display: flex;  
    max-height: 32.6rem;
    filter: drop-shadow(0 0 0.1rem gray);
}

.split-right{
    margin-left: auto;
    overflow: auto;
}

.split-left{
    margin-left: auto;
    margin-right: 0.5rem;
}

.display-none, .disclaimer{
    display: none !important;
}

.hidden{
    visibility: hidden;
}

.form-group{
    display: flex;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: space-around;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem var(--backgroundFont));
}

.form-group select{
    background: white;
    text-transform:none !important;
}

.form-group textarea{
    width: 100% !important;
    min-height: 1rem !important;
    border: 0;
}

#aside-content, #aside-content-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scratchpad{
    margin: 0;
    border: 0;
    width: 100%;
    overflow: hidden;
    resize: none;
    height: 6.8rem;    
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

#call-list-container{
    flex: 1;
    height: 100%;
    margin: 0;
    border: 0;
    width: 100%;
    overflow: auto;
    resize: none;  
    margin-bottom: 0.2rem;
    padding: 0.5rem;
    background: white;
}

.input-form{
    min-width: 23rem;
}

.form-group input, .form-group select{
    margin-left: 0.5rem;
    width: 100%;
    border: 0px;
}

.form-group label{
    font-weight: bold;
}

#aside-menu-container{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    right: 0;
    margin-top: 0rem;
    background: white;
    filter: drop-shadow(0 0 0.1rem var(--primary));
    outline: 0.1rem solid var(--primary);
    width: 30%;
    padding: 0.1rem;
}

#aside-menu-container button{
    background: var(--primary);
    color: var(--primaryFont);
    border: 0.1rem solid var(--primary);
    border-radius: 0px;
}

#aside-menu-container button:hover{
    background: var(--primaryFont);
    color: var(--primary);
}

#aside-menu-container ul{
    margin: 0;
    padding: 1rem;
}

#aside-content-menu-options li{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 1rem;
}

#aside-content-container{
    min-width: 30rem;
    padding: 0 0.5rem;
    text-transform: none;
}

.margin-bottom{
    margin-bottom: 1rem;
}

.margin-top{
    margin-top: 1rem;
}

.margin-left{
    margin-left: 1rem;
}

.margin-right{
    margin-right: 1rem;
}

@keyframes fadeout{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.fadeout{
    animation-name: fadeout;
    animation-duration: 2s;
}

#popup-div{
    position: absolute;
    z-index: 1;
    background: white;
    padding: 0.5rem;
    border-radius: 1rem;
    filter: drop-shadow(0 0 0.2rem gray);
    user-select: none;
}

.flex-list{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin:0;
}

.dropdown{
    position: relative;
    z-index: 1;
}

.dropdown button, .dropdown-menu{
    width: 11.5rem;
}

.link{
    text-decoration: none;
}

.product-work-links{
    display: flex;
    flex-direction: column;
    margin: 0 !important;
}

a.link, .product-work-links{
    color: black;
    margin: 0rem 0rem .4rem .5rem;
    text-align: left;
}

div.dropdown-menu input{
    margin: 0.2rem;
}

input[type="button"], input[type="color"], .pointer{
    cursor: pointer;
}

a.link:hover{
    text-decoration: underline;
}

.dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    left: 0;
    top: calc(100% + 0.25rem);
    background-color: white;
    color: black;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu.active{
    opacity: 1;
}

.drop-down-input{
    width: 80% !important;
}

@media(max-width: 750px){   
    .split{
        flex-direction:column-reverse;
        max-height: 100%;
    }

    #call-list-container{
        display: none;
    }
    
    .split div{
        width: 100%;
    }
    
    #aside-content-container{
        min-width: 23rem;
    }
}

@media(max-width: 600px){
    nav{
        justify-content: flex-start;
    }
    
    .dropdown button{
        width: 6rem;
        height: 2rem;
        padding: 0.5rem;
    }
}